name: tauri-build

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.12.0
          cache: npm

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: src-tauri

      - name: Install npm dependencies
        run: npm ci

      - name: Build (Tauri)
        run: npm run tauri build

      - name: Upload bundle artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vikokoro-${{ matrix.os }}
          if-no-files-found: error
          path: |
            src-tauri/target/release/bundle/**

